<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bill Tracker | {% block title %}{% endblock %}</title>
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static "bootstrap.css" %}" media="screen">
  <link rel="stylesheet" href="{% static "styles.css" %}">
  {% block additional_stylesheets %}{% endblock %}
</head>
<body>

  <div class="container">
    <a href="/">
      <img id="logo" src="{% static "logo-blue.png" %}" alt="My image"/>
    </a>
  </div>

  <div class="bs-component">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Subject</a></li>
            <li><a href="#">Author</a></li>
          </ul>
          <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <!--
            <div class="btn-group">
              <a href="#" class="btn btn-primary">Subject</a>
              <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Subject</a></li>
                <li><a href="#">Author</a></li>
              </ul>
            </div>
            -->
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>
      </div>
    </nav>
  </div>

  {% block content %}


  {% endblock %}
  
  <footer>
    <div class="container">
        <p>An #atxhacks project 2015</p>            
    </div>
  </footer>

  <script src="{% static "jquery-1.10.2.min.js" %}"></script>
  <script src="{% static "bootstrap.min.js" %}"></script>
  <script language="javascript" type="text/javascript" src="{% static "global.js" %}"></script>
  <!-- <script src="{% static "bootswatch.js" %}"></script> -->
</body>
</html>
