{% extends "base.html" %}

{% block content %}
<div class="container">
<div class="row">
<div class="col-lg-8">

  <div class="page-header">
    <h1 id="navbar">Bill List</h1>
  </div>

  <div class="container bill-list" ng-controller="BillsListController">
    {% verbatim %}
    <ul class="nav nav-pills nav-stacked" ng-repeat="bill in bills | filter:query">

        <li class="active" ><a href="/bills/{{ bill.id }}/">
          {{  bill.text.substring(0,1000) }}
        </a></li>

    </ul>

    <a class="btn btn-primary addBillButton" href="/addbill/">Add new bill</a>
    {% endverbatim %}
  </div>

</div>
</div>
</div>
{% endblock %}
