{% extends "base.html" %}

{% block title %}Bill{% endblock %}

{% load staticfiles %}

{% block additional_stylesheets %}
  <link rel="stylesheet" href="{% static "annotatorjs/annotator.min.css" %}">
  <link rel="stylesheet" href="{% static "bill.css" %}">
{% endblock %}

{% block content %}
<div class="container">
<div class="row">

  <div class="page-header">
    <h1 id="navbar">Bill</h1>
  </div>

  <div class="col-xs-8 billarea">
    {{ bill.text|safe }}
  </div>

  <div class="col-xs-4" id="submission">

    {% if annotation_list %} 
      <ul>
        {% for annotation in annotation_list %}
          {% if annotation.text|length > 10  %}
            <li><a href="/annotations/{{ annotation.id }}/">
              {{ annotation.text|slice:":10" }}
            </a></li>
          {% else %}
            <li><a href="/annotations/{{ annotation.id }}/">
              {{ annotation.text }}
            </a></li>
          {% endif %}
        {% endfor %}
      </ul>
    {% else %}
      <p>you haven't added any annotations yet!</p>
    {% endif %}


    <div class="form-group">
      <form action="/addannotation/" method="post" class="form" id="formaddannotation">
        <label for="annotation">Annotation:</label>
        <textarea class="form-control" rows="1" id="annotation"></textarea>
        {% csrf_token %}
        <input type="hidden" name="add_for" value="{{ bill.id }}" />
        <button class="btn" type="submit" id="submitbutton" onClick="submitAnnotation(annotation)">Submit Annotation</button>
      </form>
    </div>

  </div>

</div>
</div>

<script src="{% static "annotatorjs/annotator-full.min.js" %}"></script>
<script src="{% static "bill.js" %}"></script>
{% endblock %}
