{% extends "base.html" %}

{% block title %}Bill{% endblock %}

{% load staticfiles %}
{% block page_specific_stylesheets %}
  <link rel="stylesheet" href="{% static "annotatorjs/annotator.min.css" %}">
  <link rel="stylesheet" href="{% static "bill.css" %}">
  <link rel="stylesheet" href="{% static "./annotatorjs/src/css/style.css" %}">
{% endblock %}

{% block content %}
<div class="container">
<div class="row">

  <div class="page-header">
    <h1 id="navbar">Bill</h1>
  </div>

  <div>
     Authors: </br>
     {% for author in authors %}
        {{ author }} </br>
     {% endfor %}
     </br>
  </div>

  <div>
     Subjects: </br>
     {% for subject in subjects %}
        {{ subject }} </br>
     {% endfor %}
     </br>
  </div>


  <div class="col-xs-8 billarea">
    {{ bill.text|safe }}
  </div>

  <div class="col-xs-4" id="submission">

    {% if annotation_list %} 
      <ul>
        {% for annotation in annotation_list %}
          {% if annotation.text|length > 10  %}
            <li><a href="/annotations/{{ annotation.id }}/">
              {{ annotation.text|slice:":10" }}
            </a></li>
          {% else %}
            <li><a href="/annotations/{{ annotation.id }}/">
              {{ annotation.text }}
            </a></li>
          {% endif %}
        {% endfor %}
      </ul>
    {% else %}
      <!--p>you haven't added any annotations yet!</p-->
    {% endif %}


    <div class="form-group">
      <form action="/addannotation/" method="post" class="form" id="formaddannotation">
        <label for="annotation">Annotation:</label>
        <textarea class="form-control" rows="1" id="annotation"></textarea>
        {% csrf_token %}
        <input type="hidden" name="add_for" value="{{ bill.id }}" />
        <button class="btn" type="submit" id="submitbutton" onClick="submitAnnotation(annotation)">Submit Annotation</button>
      </form>
    </div>

  </div>

</div>
</div>
{% endblock %}

{% block page_specific_scripts %}
<!-- jQuery cookie plugin -->
<script src="{% static "lib/jquery.cookie-1.4.1.min.js" %}"></script>
<!-- Annotator JS -->
<script src="{% static "annotatorjs/annotator-full.min.js" %}"></script>
<!-- Annotator Plugins -->
<script src="{% static "annotatorjs/src/view_annotator.js" %}"></script>
<script src="{% static "annotatorjs/src/categories.js" %}"></script>
<script src="{% static "annotatorjs/lib/tinymce/tinymce.min.js" %}"></script>
<script src="{% static "annotatorjs/src/richEditor.js" %}"></script>
<!-- Locale for language -->
<script src="{% static "jquery.i18n.min.js" %}"></script>
<!-- For show the annotation creation date -->
<script src="{% static "annotatorjs/lib/jquery.dateFormat.js" %}"></script>
<!-- File with the translations -->
<script src="{% static "annotatorjs/locale/en/annotator.js" %}"></script>
<!-- Scroll panel -->
<script src="{% static "annotatorjs/lib/jquery.slimscroll.js" %}"></script>
<!-- Static JS File -->
<script src="{% static "bill.js" %}"></script>
<script>window.bill_id = {{ bill.id }};</script>
{% endblock %}
