{% extends "base.html" %}

{% block content %}
<div class="container">
<div class="row">
<div class="col-lg-8">

  <div class="page-header">
    <h1 id="navbar">Subject List</h1>
  </div>

  <div class="container bill-list" ng-controller="SubjectListController">
    {% verbatim %}
    <ul class="nav nav-pills nav-stacked" ng-repeat="subject in subjects | filter:query">

        <li class="active" ><a href="/subjects/{{ subject.id }}/">
          {{  subject.name }}
        </a></li>

    </ul>
    {% endverbatim %}
  </div>

</div>
</div>
</div>
{% endblock %}
